# =========================
# NODE / EXPRESS / PRISMA
# =========================

# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Ambiente e configurações locais
.env
.env.local
.env.*.local

# Build / Output
dist/
build/
coverage/
tmp/
temp/
logs/
*.log

# VSCode / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Prisma
prisma/dev.db


# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Cache
.cache/
*.swp
