name: Build and Push Images

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build API
        run: docker build -t ${{ secrets.DOCKERHUB_USER }}/smartprod-api:latest ./SmartProd-Api

      - name: Build Front
        run: docker build -t ${{ secrets.DOCKERHUB_USER }}/smartprod-front:latest ./Smartprod-front

      - name: Push Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USER }}/smartprod-api:latest
          docker push ${{ secrets.DOCKERHUB_USER }}/smartprod-front:latest
